$white: white;
$red: blue;
$black: black;
$blue: #099091;
$green : #05c97d;
$blue2: rgba(64, 70, 87, 0.5);
$grey: #b2b5b6;
$grey2: rgba(255, 255, 255, 0.6);
$grey3: rgba(0, 0, 0, .1);
$btnBoxShadow: rgba(0, 0, 0, 1);

$sRed2: #fb6d6d;
$sRed250: #fff0f0;